<div class="row">
  <div class="col-12 col-md-8 bg-white my-3 shadow mx-auto">
    <h1 class="text-center"> <%= form_name %></h1>
    <hr>
    <%= form_for @report do |f| %>

      <div class="form-group">
        <%= f.label 'Start  in:' %>
        <%= f.date_field :day, discard_year: true %>

        <small class="text-danger">
          <%= @report.errors.messages[:day].first %>
        </small>
      </div>

      <div class="form-group">
        <%= f.label :Frequency %>
        <%= f.select :prevalence, Report.prevalences.keys.to_a %>

        <div id="custom">
          <%= render partial: 'day', collection: @days if @report.custom? %>
        </div>

      </div>

      <small class="text-danger" id="error-prevalence">
        <%= @report.errors[:prevalence].first %>
      </small>

      <div class="form-group">
        <%= f.label :Hour %>
        <%= f.time_select :time %>
      </div>

      <div class="form-group">
        <%= f.label :Email %>
        <%= f.email_field :email %>

        <small class="text-danger">
          <%= @report.errors.messages[:email].first %>
        </small>
      </div>

      <div class="row">
        <div class="col">
          <%= f.submit btnTxt, class: 'btn btn-primary btn-block mb-2' %>
        </div>
        <div class="col">
          <%= link_to :Cancel, reports_path, class: 'btn btn-secondary btn-block mb-2' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
